<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отслеживание нарядов</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li class="{% if request.url.path == '/tickets/' %}active{% endif %}"><a href="/tickets">Активные задачи</a></li>
            <li class="{% if request.url.path == '/tickets/all' %}active{% endif %}"><a href="/tickets/all">Все задачи</a></li>
            <li class="{% if request.url.path == '/tickets/challenge' %}active{% endif %}"><a href="/tickets/challenge">Челлендж</a></li>
            <li class="{% if request.url.path == '/tickets/sub_contract' %}active{% endif %}"><a href="/tickets/sub_contract">Субподряд</a></li>
        </ul>
    </nav>

    <div class="table">
        {% block content %}{% endblock %}
    </div>
</body>

</html>