{% extends "base.html" %}
{% block content %}
<table class="table table-zebra">
    <thead>
        <tr>
            <th>ФИО внедренца</th>
            <th>Номер из К7</th>
            <th>Офис</th>
            <th>Менеджер</th>
            <th>Клиент</th>
            <th>Задачи</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets%}
        <tr>
            <td>{{ ticket.additional_info.worker_fullname }}</td>
            <td>{{ ticket.additional_info.k7_id }}</td>
            <td>{{ ticket.additional_info.office }}</td>
            <td>{{ ticket.additional_info.manager }}</td>
            <td>{{ ticket.additional_info.client }}</td>
            <td>{{ ticket.text }}</td>
            <td>{{ ticket.last_status.text }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}